# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json
.localdev

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Eslint cache
.eslintcache

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Salesforce Analyzer results
sca-results.csv
sfca_results.json

# Local environment variables
.env
force-app/main/default/classes/AA_TwilioWebHook.cls
force-app/main/default/classes/AA_TwilioWebHook.cls-meta.xml
force-app/main/default/classes/AA_WhatsAppAuthUtility.cls
force-app/main/default/classes/AA_WhatsAppAuthUtility.cls-meta.xml
force-app/main/default/classes/AA_WhatsAppincomingMessage.cls
force-app/main/default/classes/AA_WhatsAppincomingMessage.cls-meta.xml
force-app/main/default/classes/AA_WhatsAppSender.cls
force-app/main/default/classes/AA_WhatsAppSender.cls-meta.xml
force-app/main/default/classes/AA_WhatsAppWebhookResource.cls
force-app/main/default/classes/AA_WhatsAppWebhookResource.cls-meta.xml
force-app/main/default/classes/AA_WhatsAppWrapperButtonReply.cls
force-app/main/default/classes/AA_WhatsAppWrapperButtonReply.cls-meta.xml
force-app/main/default/classes/AA_WhatsAppWrapperListReply.cls
force-app/main/default/classes/AA_WhatsAppWrapperListReply.cls-meta.xml
force-app/main/default/classes/AA_WhatsAppWrapperStatus.cls
force-app/main/default/classes/AA_WhatsAppWrapperStatus.cls-meta.xml
force-app/main/default/classes/AA_WhatsAppWrapperTextMessage.cls
force-app/main/default/classes/AA_WhatsAppWrapperTextMessage.cls-meta.xml
force-app/main/default/classes/WhatsAppincomingMessage.cls
force-app/main/default/classes/WhatsAppincomingMessage.cls-meta.xml
force-app/main/default/classes/WhatsAppSender.cls
force-app/main/default/classes/WhatsAppSender.cls-meta.xml
force-app/main/default/classes/WhatsAppWebhookResource.cls
force-app/main/default/classes/WhatsAppWebhookResource.cls-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/AA_WhatsApp_Interaction__c.object-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Business_Name__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Business_Phone_Id__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Business_Phone_Number__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Contact_Display_Name__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Contact_Wa_Id__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Customer__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Entry_Id__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Error_Message__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Message_From_Number__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Message_Text_Body__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Message_Timestamp__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Message_Type__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Message_Wam_Id__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Payload__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Status__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/Type__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/fields/WhatsApp_Session__c.field-meta.xml
force-app/main/default/objects/AA_WhatsApp_Interaction__c/listViews/All.listView-meta.xml
force-app/main/default/sites/AA_WhatsappWebhook.site-meta.xml
force-app/main/default/tabs/WhatsApp_Interaction__c.tab-meta.xml
force-app/main/default/flexipages/SalesCloudMobile_UtilityBar.flexipage-meta.xml
force-app/main/default/flexipages/RevenueCloudConsole_UtilityBar.flexipage-meta.xml
force-app/main/default/flexipages/LightningService_UtilityBar.flexipage-meta.xml
force-app/main/default/flexipages/LightningSalesConsole_UtilityBar.flexipage-meta.xml
force-app/main/default/flexipages/LightningSales_UtilityBar.flexipage-meta.xml
force-app/main/default/flexipages/Integration_UtilityBar.flexipage-meta.xml
force-app/main/default/flexipages/FlowsApp_UtilityBar.flexipage-meta.xml
force-app/main/default/flexipages/ExpressionSetConsole_UtilityBar.flexipage-meta.xml
force-app/main/default/flexipages/CrisisCenter_UtilityBar.flexipage-meta.xml
force-app/main/default/flexipages/ContactCenter_UtilityBar.flexipage-meta.xml
force-app/main/default/flexipages/AcademicOperations_UtilityBar.flexipage-meta.xml
force-app/main/default/flexipages/AA_WhatsApp_Interaction_Record_Page.flexipage-meta.xml
force-app/main/default/networks/Salon Back Office.network-meta.xml
force-app/main/default/experiences/Salon_Back_Office1/views/userSettings.json
force-app/main/default/experiences/Salon_Back_Office1/views/userRelatedList.json
force-app/main/default/experiences/Salon_Back_Office1/views/userProfile.json
force-app/main/default/experiences/Salon_Back_Office1/views/userList.json
force-app/main/default/experiences/Salon_Back_Office1/views/topicDetail.json
force-app/main/default/experiences/Salon_Back_Office1/views/topicCatalog.json
force-app/main/default/experiences/Salon_Back_Office1/views/tooManyRequests.json
force-app/main/default/experiences/Salon_Back_Office1/views/serviceNotAvailable.json
force-app/main/default/experiences/Salon_Back_Office1/views/search.json
force-app/main/default/experiences/Salon_Back_Office1/views/resources.json
force-app/main/default/experiences/Salon_Back_Office1/views/reportRelatedList.json
force-app/main/default/experiences/Salon_Back_Office1/views/reportList.json
force-app/main/default/experiences/Salon_Back_Office1/views/reportDetail.json
force-app/main/default/experiences/Salon_Back_Office1/views/reportBuilder.json
force-app/main/default/experiences/Salon_Back_Office1/views/relatedRecordList.json
force-app/main/default/experiences/Salon_Back_Office1/views/register.json
force-app/main/default/experiences/Salon_Back_Office1/views/recordList.json
force-app/main/default/experiences/Salon_Back_Office1/views/recordDetail.json
force-app/main/default/experiences/Salon_Back_Office1/views/quipDocsRelatedList.json
force-app/main/default/experiences/Salon_Back_Office1/views/questionDetail.json
force-app/main/default/experiences/Salon_Back_Office1/views/myCustomObjects.json
force-app/main/default/experiences/Salon_Back_Office1/views/myAppointments.json
force-app/main/default/experiences/Salon_Back_Office1/views/myAccount.json
force-app/main/default/experiences/Salon_Back_Office1/views/messages.json
force-app/main/default/experiences/Salon_Back_Office1/views/loginError.json
force-app/main/default/experiences/Salon_Back_Office1/views/login.json
force-app/main/default/experiences/Salon_Back_Office1/views/home.json
force-app/main/default/experiences/Salon_Back_Office1/views/forgotPassword.json
force-app/main/default/experiences/Salon_Back_Office1/views/flow.json
force-app/main/default/experiences/Salon_Back_Office1/views/fileRelatedList.json
force-app/main/default/experiences/Salon_Back_Office1/views/fileList.json
force-app/main/default/experiences/Salon_Back_Office1/views/fileDetail.json
force-app/main/default/experiences/Salon_Back_Office1/views/feedDetail.json
force-app/main/default/experiences/Salon_Back_Office1/views/error.json
force-app/main/default/experiences/Salon_Back_Office1/views/dashboardRelatedList.json
force-app/main/default/experiences/Salon_Back_Office1/views/dashboardList.json
force-app/main/default/experiences/Salon_Back_Office1/views/dashboardDetail.json
force-app/main/default/experiences/Salon_Back_Office1/views/createRecord.json
force-app/main/default/experiences/Salon_Back_Office1/views/contactUs.json
force-app/main/default/experiences/Salon_Back_Office1/views/checkPassword.json
force-app/main/default/experiences/Salon_Back_Office1/views/accountManagement.json
force-app/main/default/experiences/Salon_Back_Office1/views/aASalonAppointments.json
force-app/main/default/experiences/Salon_Back_Office1/themes/customerAccountPortal.json
force-app/main/default/experiences/Salon_Back_Office1/routes/userSettings.json
force-app/main/default/experiences/Salon_Back_Office1/routes/userRelatedList.json
force-app/main/default/experiences/Salon_Back_Office1/routes/userProfile.json
force-app/main/default/experiences/Salon_Back_Office1/routes/userList.json
force-app/main/default/experiences/Salon_Back_Office1/routes/topicDetail.json
force-app/main/default/experiences/Salon_Back_Office1/routes/topicCatalog.json
force-app/main/default/experiences/Salon_Back_Office1/routes/tooManyRequests.json
force-app/main/default/experiences/Salon_Back_Office1/routes/serviceNotAvailable.json
force-app/main/default/experiences/Salon_Back_Office1/routes/search.json
force-app/main/default/experiences/Salon_Back_Office1/routes/resources.json
force-app/main/default/experiences/Salon_Back_Office1/routes/reportRelatedList.json
force-app/main/default/experiences/Salon_Back_Office1/routes/reportList.json
force-app/main/default/experiences/Salon_Back_Office1/routes/reportDetail.json
force-app/main/default/experiences/Salon_Back_Office1/routes/reportBuilder.json
force-app/main/default/experiences/Salon_Back_Office1/routes/relatedRecordList.json
force-app/main/default/experiences/Salon_Back_Office1/routes/register.json
force-app/main/default/experiences/Salon_Back_Office1/routes/recordList.json
force-app/main/default/experiences/Salon_Back_Office1/routes/recordDetail.json
force-app/main/default/experiences/Salon_Back_Office1/routes/quipDocsRelatedList.json
force-app/main/default/experiences/Salon_Back_Office1/routes/questionDetail.json
force-app/main/default/experiences/Salon_Back_Office1/routes/myCustomObjects.json
force-app/main/default/experiences/Salon_Back_Office1/routes/myAppointments.json
force-app/main/default/experiences/Salon_Back_Office1/routes/myAccount.json
force-app/main/default/experiences/Salon_Back_Office1/routes/messages.json
force-app/main/default/experiences/Salon_Back_Office1/routes/loginError.json
force-app/main/default/experiences/Salon_Back_Office1/routes/login.json
force-app/main/default/experiences/Salon_Back_Office1/routes/home.json
force-app/main/default/experiences/Salon_Back_Office1/routes/forgotPassword.json
force-app/main/default/experiences/Salon_Back_Office1/routes/flow.json
force-app/main/default/experiences/Salon_Back_Office1/routes/fileRelatedList.json
force-app/main/default/experiences/Salon_Back_Office1/routes/fileList.json
force-app/main/default/experiences/Salon_Back_Office1/routes/fileDetail.json
force-app/main/default/experiences/Salon_Back_Office1/routes/feedDetail.json
force-app/main/default/experiences/Salon_Back_Office1/routes/error.json
force-app/main/default/experiences/Salon_Back_Office1/routes/dashboardRelatedList.json
force-app/main/default/experiences/Salon_Back_Office1/routes/dashboardList.json
force-app/main/default/experiences/Salon_Back_Office1/routes/dashboardDetail.json
force-app/main/default/experiences/Salon_Back_Office1/routes/createRecord.json
force-app/main/default/experiences/Salon_Back_Office1/routes/contactUs.json
force-app/main/default/experiences/Salon_Back_Office1/routes/checkPassword.json
force-app/main/default/experiences/Salon_Back_Office1/routes/accountManagement.json
force-app/main/default/experiences/Salon_Back_Office1/routes/aASalonAppointments.json
force-app/main/default/experiences/Salon_Back_Office1/config/salonBackOffice.json
force-app/main/default/experiences/Salon_Back_Office1/config/nativeConfig.json
force-app/main/default/experiences/Salon_Back_Office1/config/mainAppPage.json
force-app/main/default/experiences/Salon_Back_Office1/config/loginAppPage.json
force-app/main/default/experiences/Salon_Back_Office1/config/languages.json
force-app/main/default/experiences/Salon_Back_Office1/brandingSets/customerAccountPortal.json
force-app/main/default/experiences/Salon_Back_Office1.site-meta.xml

.vscode/settings.json
force-app/main/default/flexipages/.DS_Store
force-app/main/default/layouts/AA_My_Custom_Object__c-AA My Custom Object Layout.layout-meta.xml
force-app/main/default/layouts/AA_WhatsApp_Interaction__c-AA WhatsApp Interaction Layout.layout-meta.xml
force-app/main/default/layouts/AA_WhatsApp_Session__c-AA WhatsApp Session Layout.layout-meta.xml
force-app/main/default/layouts/Account-Account %28Marketing%29 Layout.layout-meta.xml
force-app/main/default/layouts/Account-Account %28Sales%29 Layout.layout-meta.xml
force-app/main/default/layouts/Account-Account %28Support%29 Layout.layout-meta.xml
force-app/main/default/layouts/Account-Account Layout.layout-meta.xml
force-app/main/default/layouts/AccountBrand-Account Brand Layout.layout-meta.xml
force-app/main/default/layouts/AlternativePaymentMethod-Alternative Payment Method Layout.layout-meta.xml
force-app/main/default/layouts/ApiAnomalyEventStore-API Anomaly Event Store Layout.layout-meta.xml
force-app/main/default/layouts/AppointmentInvitation-Appointment Invitation Layout.layout-meta.xml
force-app/main/default/layouts/Asset-Asset Layout.layout-meta.xml
force-app/main/default/layouts/AssetAction-Asset Action Layout.layout-meta.xml
force-app/main/default/layouts/AssetActionSource-Asset Action Source Layout.layout-meta.xml
force-app/main/default/layouts/AssetRelationship-Asset Relationship Layout.layout-meta.xml
force-app/main/default/layouts/AssetStatePeriod-Asset State Period Layout.layout-meta.xml
force-app/main/default/layouts/AssignedResource-Assigned Resource Layout.layout-meta.xml
force-app/main/default/layouts/AssociatedLocation-Associated Location Layout.layout-meta.xml
force-app/main/default/layouts/AsyncOperationLog-Async Operation Log Layout.layout-meta.xml
force-app/main/default/layouts/AuthorizationForm-Authorization Form Layout.layout-meta.xml
force-app/main/default/layouts/AuthorizationFormConsent-Authorization Form Consent Layout.layout-meta.xml
force-app/main/default/layouts/AuthorizationFormDataUse-Authorization Form Data Use Layout.layout-meta.xml
force-app/main/default/layouts/AuthorizationFormText-Authorization Form Text Layout.layout-meta.xml
force-app/main/default/layouts/BusinessBrand-Business Brand Layout.layout-meta.xml
force-app/main/default/layouts/Campaign-Campaign Layout.layout-meta.xml
force-app/main/default/layouts/CampaignMember-Campaign Member Page Layout.layout-meta.xml
force-app/main/default/layouts/CardPaymentMethod-Card Payment Method Layout.layout-meta.xml
force-app/main/default/layouts/CartCheckoutSession-Cart Checkout Session Layout.layout-meta.xml
force-app/main/default/layouts/CartDeliveryGroup-Cart Delivery Group Layout.layout-meta.xml
force-app/main/default/layouts/CartDeliveryGroupMethod-Cart Delivery Group Method Layout.layout-meta.xml
force-app/main/default/layouts/CartItem-Cart Item Layout.layout-meta.xml
force-app/main/default/layouts/CartTax-Cart Tax Layout.layout-meta.xml
force-app/main/default/layouts/CartValidationOutput-Cart Validation Output Layout.layout-meta.xml
force-app/main/default/layouts/Case-Case %28Marketing%29 Layout.layout-meta.xml
force-app/main/default/layouts/Case-Case %28Sales%29 Layout.layout-meta.xml
force-app/main/default/layouts/Case-Case %28Support%29 Layout.layout-meta.xml
force-app/main/default/layouts/Case-Case Layout.layout-meta.xml
force-app/main/default/layouts/CaseClose-Close Case Layout.layout-meta.xml
force-app/main/default/layouts/CaseMilestone-Case Milestone Layout.layout-meta.xml
force-app/main/default/layouts/CommunityMemberLayout-Community Member Layout.layout-meta.xml
force-app/main/default/layouts/ConsumptionRate-Consumption Rate Layout.layout-meta.xml
force-app/main/default/layouts/ConsumptionSchedule-Consumption Schedule Layout.layout-meta.xml
force-app/main/default/layouts/Contact-Contact %28Marketing%29 Layout.layout-meta.xml
force-app/main/default/layouts/Contact-Contact %28Sales%29 Layout.layout-meta.xml
force-app/main/default/layouts/Contact-Contact %28Support%29 Layout.layout-meta.xml
force-app/main/default/layouts/Contact-Contact Layout.layout-meta.xml
force-app/main/default/layouts/ContactPointAddress-Contact Point Address Layout.layout-meta.xml
force-app/main/default/layouts/ContactPointEmail-Contact Point Email Layout.layout-meta.xml
force-app/main/default/layouts/ContactPointPhone-Contact Point Phone Layout.layout-meta.xml
force-app/main/default/layouts/ContactPointTypeConsent-Contact Point Type Consent Layout.layout-meta.xml
force-app/main/default/layouts/ContentVersion-Content Version Layout.layout-meta.xml
force-app/main/default/layouts/Contract-Contract Layout.layout-meta.xml
force-app/main/default/layouts/ContractLineItem-Contract Line Item Layout.layout-meta.xml
force-app/main/default/layouts/CredentialStuffingEventStore-Credential Stuffing Event Store Layout.layout-meta.xml
force-app/main/default/layouts/CreditMemo-Credit Memo Layout.layout-meta.xml
force-app/main/default/layouts/CreditMemoInvApplication-Credit Memo Invoice Application Layout.layout-meta.xml
force-app/main/default/layouts/CreditMemoLine-Credit Memo Line Layout.layout-meta.xml
force-app/main/default/layouts/Customer-Customer Layout.layout-meta.xml
force-app/main/default/layouts/DandBCompany-D%26B Company Layout.layout-meta.xml
force-app/main/default/layouts/DataUseLegalBasis-Data Use Legal Basis Layout.layout-meta.xml
force-app/main/default/layouts/DataUsePurpose-Data Use Purpose Layout.layout-meta.xml
force-app/main/default/layouts/DelegatedAccount-External Managed Account Layout.layout-meta.xml
force-app/main/default/layouts/DigitalWallet-Digital Wallet Layout.layout-meta.xml
force-app/main/default/layouts/DuplicateRecordSet-Duplicate Record Set Layout.layout-meta.xml
force-app/main/default/layouts/EmailMessage-Email Message Layout.layout-meta.xml
force-app/main/default/layouts/EngagementChannelType-Engagement Channel Type Layout.layout-meta.xml
force-app/main/default/layouts/Entitlement-Entitlement Layout.layout-meta.xml
force-app/main/default/layouts/EntityMilestone-Object Milestone Layout.layout-meta.xml
force-app/main/default/layouts/Event-Event Layout.layout-meta.xml
force-app/main/default/layouts/FeedItem-Feed Item Layout.layout-meta.xml
force-app/main/default/layouts/FinanceBalanceSnapshot-Finance Balance Snapshot Layout.layout-meta.xml
force-app/main/default/layouts/FinanceTransaction-Finance Transaction Layout.layout-meta.xml
force-app/main/default/layouts/FulfillmentOrder-Fulfillment Order Layout.layout-meta.xml
force-app/main/default/layouts/FulfillmentOrderItemAdjustment-Fulfillment Order Item Adjustment Layout.layout-meta.xml
force-app/main/default/layouts/FulfillmentOrderItemTax-Fulfillment Order Item Tax Layout.layout-meta.xml
force-app/main/default/layouts/FulfillmentOrderLineItem-Fulfillment Order Product Layout.layout-meta.xml
force-app/main/default/layouts/Global-Global Layout.layout-meta.xml
force-app/main/default/layouts/GuestUserAnomalyEventStore-Guest User Anomaly Event Store Layout.layout-meta.xml
force-app/main/default/layouts/Idea-Idea Layout.layout-meta.xml
force-app/main/default/layouts/Individual-Individual Layout.layout-meta.xml
force-app/main/default/layouts/Invoice-Invoice Layout.layout-meta.xml
force-app/main/default/layouts/InvoiceLine-Invoice Line Layout.layout-meta.xml
force-app/main/default/layouts/Lead-Lead %28Marketing%29 Layout.layout-meta.xml
force-app/main/default/layouts/Lead-Lead %28Sales%29 Layout.layout-meta.xml
force-app/main/default/layouts/Lead-Lead %28Support%29 Layout.layout-meta.xml
force-app/main/default/layouts/Lead-Lead Layout.layout-meta.xml
force-app/main/default/layouts/LegalEntity-Legal Entity Layout.layout-meta.xml
force-app/main/default/layouts/Location-Location Layout.layout-meta.xml
force-app/main/default/layouts/LocationGroup-Location Group Layout.layout-meta.xml
force-app/main/default/layouts/LocationGroupAssignment-Location Group Assignment Layout.layout-meta.xml
force-app/main/default/layouts/Log__c-LogLayout.layout-meta.xml
force-app/main/default/layouts/LoginAnomalyEventStore-Login Anomaly Event Store Layout.layout-meta.xml
force-app/main/default/layouts/Macro-Macro Layout.layout-meta.xml
force-app/main/default/layouts/OperatingHours-Operating Hours Layout.layout-meta.xml
force-app/main/default/layouts/Opportunity-Opportunity %28Marketing%29 Layout.layout-meta.xml
force-app/main/default/layouts/Opportunity-Opportunity %28Sales%29 Layout.layout-meta.xml
force-app/main/default/layouts/Opportunity-Opportunity %28Support%29 Layout.layout-meta.xml
force-app/main/default/layouts/Opportunity-Opportunity Layout.layout-meta.xml
force-app/main/default/layouts/OpportunityLineItem-Opportunity Product Layout.layout-meta.xml
force-app/main/default/layouts/Order-Order Layout.layout-meta.xml
force-app/main/default/layouts/OrderItem-Order Product Layout.layout-meta.xml
force-app/main/default/layouts/Payment-Payment Layout.layout-meta.xml
force-app/main/default/layouts/PaymentAuthAdjustment-Payment Authorization Adjustment Layout.layout-meta.xml
force-app/main/default/layouts/PaymentAuthorization-Payment Authorization Layout.layout-meta.xml
force-app/main/default/layouts/PaymentGateway-Payment Gateway Layout.layout-meta.xml
force-app/main/default/layouts/PaymentGatewayLog-Payment Gateway Log Layout.layout-meta.xml
force-app/main/default/layouts/PaymentGroup-Payment Group Layout.layout-meta.xml
force-app/main/default/layouts/PaymentLineInvoice-Payment Line Invoice Layout.layout-meta.xml
force-app/main/default/layouts/Pricebook2-Price Book Layout.layout-meta.xml
force-app/main/default/layouts/PricebookEntry-Price Book Entry Layout.layout-meta.xml
force-app/main/default/layouts/ProcessException-Process Exception Layout.layout-meta.xml
force-app/main/default/layouts/Product2-Product Layout.layout-meta.xml
force-app/main/default/layouts/ProductConsumptionSchedule-Product Consumption Schedule Layout.layout-meta.xml
force-app/main/default/layouts/QuickText-Quick Text Layout.layout-meta.xml
force-app/main/default/layouts/Refund-Refund Layout.layout-meta.xml
force-app/main/default/layouts/RefundLinePayment-Refund Line Payment Layout.layout-meta.xml
force-app/main/default/layouts/ReportAnomalyEventStore-Report Anomaly Event Store Layout.layout-meta.xml
force-app/main/default/layouts/ResourceAbsence-Resource Absence Layout.layout-meta.xml
force-app/main/default/layouts/ResourcePreference-Resource Preference Layout.layout-meta.xml
force-app/main/default/layouts/ReturnOrder-Return Order Layout.layout-meta.xml
force-app/main/default/layouts/ReturnOrderItemAdjustment-Return Order Item Adjustment Layout.layout-meta.xml
force-app/main/default/layouts/ReturnOrderItemTax-Return Order Item Tax Layout.layout-meta.xml
force-app/main/default/layouts/ReturnOrderLineItem-Return Order Line Item Layout.layout-meta.xml
force-app/main/default/layouts/Scorecard-Scorecard Layout.layout-meta.xml
force-app/main/default/layouts/ScorecardAssociation-Scorecard Association Layout.layout-meta.xml
force-app/main/default/layouts/ScorecardMetric-Scorecard Metric Layout.layout-meta.xml
force-app/main/default/layouts/Seller-Seller Layout.layout-meta.xml
force-app/main/default/layouts/ServiceAppointment-Service Appointment Layout.layout-meta.xml
force-app/main/default/layouts/ServiceAppointmentShift-Service Appointment Shift Layout.layout-meta.xml
force-app/main/default/layouts/ServiceContract-Service Contract Layout.layout-meta.xml
force-app/main/default/layouts/ServiceResource-Service Resource Layout.layout-meta.xml
force-app/main/default/layouts/ServiceResourceSkill-Service Resource Skill Layout.layout-meta.xml
force-app/main/default/layouts/ServiceTerritory-Service Territory Layout.layout-meta.xml
force-app/main/default/layouts/ServiceTerritoryMember-Service Territory Member Layout.layout-meta.xml
force-app/main/default/layouts/SessionHijackingEventStore-Session Hijacking Event Store Layout.layout-meta.xml
force-app/main/default/layouts/Shift-Shift Layout.layout-meta.xml
force-app/main/default/layouts/ShiftWorkTopic-Shift Work Topic Layout.layout-meta.xml
force-app/main/default/layouts/ShippingConfigurationSet-Shipping Configuration Set Layout.layout-meta.xml
force-app/main/default/layouts/ShippingRateArea-Shipping Rate Area Layout.layout-meta.xml
force-app/main/default/layouts/ShippingRateGroup-Shipping Rate Group Layout.layout-meta.xml
force-app/main/default/layouts/SkillRequirement-Skill Requirement Layout.layout-meta.xml
force-app/main/default/layouts/SocialPersona-Social Persona Layout.layout-meta.xml
force-app/main/default/layouts/Solution-Solution Layout.layout-meta.xml
force-app/main/default/layouts/StandardShippingRate-Standard Shipping Rate Layout.layout-meta.xml
force-app/main/default/layouts/Task-Task Layout.layout-meta.xml
force-app/main/default/layouts/ThreatDetectionFeedback-Threat Detection Feedback Layout.layout-meta.xml
force-app/main/default/layouts/TimeSlot-Time Slot Layout.layout-meta.xml
force-app/main/default/layouts/UniversalAnomalyEventStore-Universal Anomaly Event Store Layout.layout-meta.xml
force-app/main/default/layouts/User-User Layout.layout-meta.xml
force-app/main/default/layouts/UserAlt-User Profile Layout.layout-meta.xml
force-app/main/default/layouts/UserProvAccount-User Provisioning Account Layout.layout-meta.xml
force-app/main/default/layouts/UserProvisioningLog-User Provisioning Log Layout.layout-meta.xml
force-app/main/default/layouts/UserProvisioningRequest-User Provisioning Request Layout.layout-meta.xml
force-app/main/default/layouts/Waitlist-%5F%5FMISSING LABEL%5F%5F PropertyFile - val Waitlist not found in section StandardLayouts.layout-meta.xml
force-app/main/default/layouts/WebCart-Cart Layout.layout-meta.xml
force-app/main/default/layouts/WebCartAdjustmentBasis-Cart Adjustment Basis Layout.layout-meta.xml
force-app/main/default/layouts/WebCartAdjustmentGroup-Cart Adjustment Group Layout.layout-meta.xml
force-app/main/default/layouts/WebStore-Store Layout.layout-meta.xml
force-app/main/default/layouts/WebStoreConfig-Web Store Configuration Layout.layout-meta.xml
force-app/main/default/layouts/WhatsApp_Interaction__c-WhatsApp Interaction Layout.layout-meta.xml
force-app/main/default/layouts/WorkOrder-Work Order Layout.layout-meta.xml
force-app/main/default/layouts/WorkOrderLineItem-Work Order Line Item Layout.layout-meta.xml
force-app/main/default/layouts/WorkPlan-Work Plan Layout.layout-meta.xml
force-app/main/default/layouts/WorkPlanTemplate-Work Plan Template Layout.layout-meta.xml
force-app/main/default/layouts/WorkPlanTemplateEntry-Work Plan Template Entry Layout.layout-meta.xml
force-app/main/default/layouts/WorkStep-Work Step Layout.layout-meta.xml
force-app/main/default/layouts/WorkStepTemplate-Work Step Template Layout.layout-meta.xml
force-app/main/default/layouts/WorkType-Work Type Layout.layout-meta.xml
force-app/main/default/layouts/WorkTypeGroup-Work Type Group Layout.layout-meta.xml
force-app/main/default/layouts/WorkTypeGroupMember-Work Type Group Member Layout.layout-meta.xml

data/sfdmu/all/reports
data/sfdmu/all/target
data/sfdmu/employees/target
data/sfdmu/services/target

/data/sfdmu/business/reports
/data/sfdmu/business/target
.vscode/settings.json
